<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/master.min.css">
    <link rel="stylesheet" href="../static/assets/css/fonts.min.css">

    <link rel="stylesheet" href="../static/css/styles.css">

    <title>Forgot Password</title>
</head>
<body>
    
    <div class="container mt-5">
        
        <h2 class="mb-5 text-center">Forgot Password</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-box mt-5">

                <div class="mb-4 font-weight-bold"><span style="color: red;">*</span> indicates required field</div>

                <div class="form-group">
                    <label class="form-label">{{ form.email.label.text }} <span style="color: red;">*</span></label>
                    {{ form.email(class=formclass) }}
                </div>
            
                <div class="mt-4 text-center">
                    {{ form.submit(class="btn btn-primary", style='width: 100px;') }}
                </div>

            </div>    
                
        </form>

    </div>
   

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <p class='text-{{ 'success' if category == 'message' else category }} mt-2 text-center'>
                {{ message }}
            </p>
        {% endfor %}
    {% endwith %}
   
</body>
</html>